<ion-view view-title="Annonce">
<ion-content padding="true">

  <div class="card">
    <div class="item item-avatar">
      <img src="img/SVelluz.jpg">
       <p>Auteur: </p>

       <h2>Jean-Jacque VELLUZ</h2>
    </div>

    <div class="card">
    <div class="item item-body blue center">

      <strong> Médecin MPR H/F </strong>
    </div>
  </div>


   <div class="item item-body">
     <em><p>Description de l'annonce :</p></em></br></br>
     Appel médical search recherche pour l'un de ses clients :


 Médecin MPR h-f – Temps plein ou 0.8 ETP
 Poste en CDI

 LIEU : NORD

 ENTREPRISE :

 Etablissement privé de soins de suite et de réadaptation de 23 Lits
 Plateau technique complet – balnéothérapie
 Rattaché-e au Directeur de l'établissement et évoluant au sein d'une équipe médicale, le médecin MPR h-f a pour principales missions :

 - Assurer et organiser la prise en charge et le suivi médical des patients en collaboration avec l'ensemble des professionnels intervenant dans la structure,
 - Animer, avec les responsables paramédicaux, les équipes de soins dans une démarche globale d'amélioration de la qualité,
 - Etre à l'écoute et informer les patients, leurs familles et leurs proches (en respectant le secret médical) des indications, restrictions, conseils… nécessaires à la continuité des soins,
 - Participer aux réunions pluridisciplinaires,
 - Contribuer aux travaux de réflexion de la structure dans le cadre d'un processus d'amélioration continue et être force de proposition,
 - Participer à la définition et à la réactualisation du projet d'établissement,

 Temps plein ou 0.8 ETP, CDI
 Mutuelle (100% de prise en charge par l'employeur)
 Docteur en médecine, vous êtes inscrit-e au Conseil National de l'Ordre des Médecins avec un diplôme de spécialisation en MPR. Des compétences en rééducation de l'appareil locomoteur seront appréciées.

 Dynamique et rigoureux-euse, le-la candidat-e est doté-e d'un réel esprit d'équipe. Bon-ne communicant-e, il-elle doit savoir travailler en toute transparence avec ses confrères, l'équipe soignante et l'ensemble des intervenants.

 Le médecin doit être à l'aise avec l'outil informatique pour ses activités (prescription, codage PMSI, compte rendu…)

 Nos consultants CDI-CDD vous proposent d'évaluer ensemble vos compétences et de trouver
 l'emploi qui réponde à vos objectifs personnels et professionnels. Du recrutement à l'intégration dans votre future équipe de soins ou d'encadrement, l'Appel Médical s'occupe de vous !
    </div>


</div>

    <div class="card">
     <div class="item item-avatar">
        <i class="icon ion-android-calendar md"></i>
        <a ui-sref="communityPage"> Date de Parution</a>
        <p> - Date de départ : 20/20/2020  <br> - Date de fin : 21/21/2021</p>
     </div>

     <div class="item item-body">
       <em><p>Localisation :</p></em>
       <div class="item item-image">
      <img src="img/map.png">
      </div>
      </div>


</ion-content>
</ion-view>
