<ion-view hide-nav-bar="false" view-article.title="Poster un article">
    <ion-content padding="true" ng-controller="EditArticleCtrl">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label positive">Titre*</span>
                <input type="text" placeholder="Titre de votre article" ng-model="article.title">
            </label>
        </div>
        <div class="list">
            <h4 class="positive center-text">Article</h4>
            <label class="item item-input item-stacked-label">
                <textarea rows="10" placeholder="Tapez ici votre article" ng-model="article.content"></textarea>
            </label>
        </div>
        <a ui-sref="home" class="button button-block button-positive" ng-click="submit(article.title, article.content)">
            Publier
        </a>
    </ion-view>
</ion-content>
