<ion-view hide-nav-bar="false" view-title="Cadulink">
  <ion-content padding="true">
    <!-- sidebar -->
        <!-- Actualité -->
        <div ng-app="starter.controllers">
          <div ng-controller="AfficherCtrl" class="list card">
                <div class="item item-body">
                    <h1>{{articles.title}}</h1>
                </div>
                <div class="item item-avatar">
                    <img src="img/sebatien.jpg">
                    <a ui-sref="app.profil({personId: articles.authorId})">par {{getAuthor(articles)}}</a>
                    <p>le {{articles.date}}</p>
                </div>
                <div class="item item-body">
                    <div ng-bind-html="articles.content"></div>
                </div>
          </div>
          <div ng-controller="CommentCtrl">
              <div class="item item-text-wrap">
                <p>Commentaire</p>
                <hr>

            <div class="item item-text-wrap" ng-repeat="comment in comments" name="comment">
                <a ui-sref="profil({personId: articles.authorId})">par {{getAuthor(comment)}}</a>
                  <hr>
                <div ng-bind-html="comment.content"></div>
            </div>
            <button ng-click="switch()" class='buttonArticle'>Ajouter un commentaire</button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
