<ion-view view-title=" Mon Profil">
<ionic-content>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <div class="spacerVic"></div>
  <div class="card">
    <div class="item item-text-wrap item-avatar">
        <img src="img/portrait.jpeg">
      Jean-Pierre Marchand.
    </div>
  </div>
    <div class="spacerVic"></div>
    <div class="card">
    <div class="item item-divider center-text">
      Profession
    </div>
    <div class="item item-text-wrap center-text">
      Médecin Généraliste
    </div>
  </div>
  <div class="card">
  <div class="item item-divider center-text blue">
    <a ui-sref="CommunityDm"> Mes Communautés </a>
  </div>
  <ul class="item item-text-wrap center-text">
    <li>Médecin</li>
    <li>Kinésithérapeute</li>
    <li>Dentiste</li>
    <li>...</li>
  </ul>
</div>
<div class="card">
<div class="item item-divider center-text blue" >
  Mon parcours
</div>
<div class="item item-text-wrap center-text">
  Le cursus de médecine débute avec la PACES (1re année commune aux études de santé). Moins de 20 % des étudiants en
  moyenne franchissent l’obstacle du concours.
   En 2013-2014, 7 492 places étaient ouvertes au niveau national.
</div>
</div>
<button class="button button-positive col-offset-25">
  Modifier mon profil
</button>
</ionic-content>
</ion-view>
