<ion-view view-title="Mes Communautées">
<ion-content padding="true">

  <div class="card">
   <div class="item item-avatar">
      <img src="img/caducee.jpg">
      <a ui-sref="communityPage"> Médecin</a>
      <p> - Communautée rassemblant <br>les médecins généraliste</p>
   </div>

   <div class="item item-body">
     <em><p>Communautés liées :</p></em>
     <ul>
       <li>Infirmieres</li>
       <li>Pharmaciens</li>
     </ul>
    </div>

    <div class="item item-avatar">
      <img src="img/SVelluz.jpg">
       <p>Animateur : </p>

       <h2>Sebastien VELLUZ</h2>
    </div>

</div>

    <div class="card">
     <div class="item item-avatar">
        <img src="img/caduceeKine.gif">
        <a ui-sref="communityPage"> Kinésitherapeute</a>
        <p> - Communautée rassemblant <br>les kinesitherapeute</p>
     </div>

     <div class="item item-body">
       <em><p>Communautés liées :</p></em>
       <ul>
         <li>Ostéopathe</li>
       </ul>
      </div>

      <div class="item item-avatar">
        <img src="img/MDelpiere.jpg">
         <p>Animateur : </p>

         <h2>Michel DELPIERRE</h2>
      </div>
    </div>

    <div class="card">
     <div class="item item-avatar">
        <img src="img/dentiste.jpg">
        <a ui-sref="communityPage"> Dentiste</a>
        <p> - Communautée rassemblant <br>les dentistes</p>
     </div>

     <div class="item item-body">
       <em><p>Communautés liées :</p></em>
       <ul>
         <li>Orthodentiste</li>
         <li>Prothesiste Dentaire</li>
       </ul>
      </div>

      <div class="item item-avatar">
        <img src="img/VVergne.jpeg">
         <p>Animateur : </p>

         <h2>Victor VERGNE</h2>
      </div>
    </div>
</ion-content>
</ion-view>
