<ion-view view-title="Communauté">
<ion-content padding="true">
  <div ng-app="starter.controllers" ng-controller="CommunityCtrl">
  <div class="card">
   <div class="item item-avatar">
      <img src="img/caducee.jpg">
      <h2>{{community.label}}</h2><p>{{nbrMembre}} Membres</p>
      <p><a ui-sref="app.home({communityId: community.id})">Accès aux articles</a></p>
   </div>
   <div class="card">
     <div class="item item-divider">
       Membres :
     </div>
     <div class="item item-text-wrap" ng-repeat="member in members">
       <a>- {{member.firstName}} {{member.lastName}} </a>
       <div ng-if='userId == admin.id' class='floating_right'>
           <button ng-click="remove(member.id)">Retirer de la communauté</button>
       </div>
     </div>
 </div>
   <div class="item item-body">
     <em><p>Communautés liées :</p></em>
     <ul>
         <li ng-repeat="community in communities"><a ui-sref="app.community({communityId: community.id})">{{community.label}}</a></li>
     </ul>
    </div>
    <div class="item item-avatar">
      <img src="{{animator.image}}">
       <p>Animateur : </p>
       <h2>{{animator.firstName + ' ' + animator.lastName}}</h2>
    </div>
    <div class="item item-avatar">
      <img src="{{labelisateur.image}}">
       <p>Labelisateur : </p>
       <h2>{{labelisateur.firstName + ' ' + labelisateur.lastName}}</h2>
    </div>
    <div class="item item-avatar">
      <img src="{{admin.image}}">
       <p>Admin : </p>
       <h2>{{admin.firstName + ' ' + admin.lastName}}</h2>
    </div>
    <div ng-controller="PersonCtrl">
        <div ng-if="community.communityManagerId != person.id">
            <div ng-if="person.communities.indexOf(community.id) == -1">
                <button ng-click="joinCommunity(person.id, community.id)" class="button button-positive button-block">Rejoindre</button>
            </div>
            <div ng-if="person.communities.indexOf(community.id) != -1">
                <button ng-click="quitCommunity(person.id, community.id)" class="button button-positive button-block">Quitter</button>
            </div>
        </div>
        <div ng-if="community.communityManagerId == person.id">—
            <button ui-sref="app.communityEdit({communityId: community.id})" class="button button-positive button-block">Éditer</button>
        </div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
