<ion-view view-title="Community Page">
<ion-content padding="true">
  <ion-list>
        <ion-item ng-repeat="communityP in communityP" class="item item-icon-right">
          <span ng-class="{done: communityP.done}">{{communityP.title}}</span>
        </ion-item>
      </ion-list>
  <div class="card">
   <div class="item item-avatar">
      <img src="img/caducee.jpg">
      <h2>{{community.label}}</h2>
      <p><a ui-sref="home({communityId: community.id})">Accès aux articles</a></p>
   </div>
   <div class="item-body">{{community.description}}</div>

   <div class="item item-body">
     <em><p>Communautés liées :</p></em>
     <ul>
         <li ng-repeat="community in communities"><a ui-sref="community({communityId: community.id})">{{community.label}}</a></li>
     </ul>
    </div>
    <div class="item item-avatar">
      <img src="img/SVelluz.jpg">
       <p>Animateur : </p>
       <h2>Sebastien VELLUZ</h2>
    </div>
    <div ng-controller="PersonCtrl">
        <div ng-if="community.communityManagerId != person.id">
            <div ng-if="person.communities.indexOf(community.id) == -1">
                <button ng-click="joinCommunity(person.id, community.id)" class="button button-positive button-block">Rejoindre</button>
            </div>
            <div ng-if="person.communities.indexOf(community.id) != -1">
                <button ng-click="quitCommunity(person.id, community.id)" class="button button-positive button-block">Quitter</button>
            </div>
        </div>
        <div ng-if="community.communityManagerId == person.id">
            <button ui-sref="communityEdit({communityId: community.id})" class="button button-positive button-block">Éditer</button>
        </div>
    </div>
    <div ng-controller="ArticlesCtrl">

    </div>
</div>
</ion-content>
</ion-view>
