<ion-view hide-nav-bar="false" view-title="Cadulink">
  <ion-content padding="true">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <div class="spacerVic"></div>
        <div ng-controller="AddCommentCtrl" class="list card">
          <div class='titreComment'><h3 >Nouveau commentaire</h3></div>
              <input id='inputComment' type="text" placeholder="Votre commentaire" ng-model="commentInput"/>
              <button class='buttonArticle' ng-click="addComment()">Ajouter un commentaire</button>
        </div>
  </ion-content>
  </ion-view>
