<ion-view hide-nav-bar="true" view-title="">
  <ion-content padding="true">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <img ng-src="img/medium-logo.png" alt="Logo" class="col-offset-20" />
    <div class="spacer"></div>
    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <a ui-sref="home" class="button button-positive button-block">Se connecter</a>
    <div ng-controller="RegisterCtrl">
      <button ng-click="OpenModal()" class="button button-positive button-block">S'inscrire</button>
    </div>
    <a ui-sref="forgotPassword">Mot de passe oublié</a>
  </ion-content>
</ion-view>
