<ion-view hide-nav-bar="false" view-title="Cadulink">
  <ion-content padding="true">
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <div class="delete">
      <h1 class="positive">{{text}}</h1>
    </div>
    <div class="spacerVic">
    </div>
    <div class="spacerVic">
    </div>
    <a ui-sref="home" class="button button-positive button-block">    <i class="ion-home"></i></a>

  </ion-content>
</ion-view>
