<ion-view hide-nav-bar="false" view-title="Cadulink">
    <ion-content padding="true">
        <!-- sidebar -->
        <!-- Actualité -->
        <div ng-app="starter.controllers" ng-controller="ArticlesCtrl">
            <div class="list card" ng-repeat="article in articles">
                <div class="item item-divider item-text-wrap">
                    <h1>{{article.title}}</h1>
                </div>
                <div class="item item-avatar">
                    <img src="img/sebatien.jpg">
                    <a ui-sref="profil({personId: article.authorId})">par {{getAuthor(article)}}</a>
                    <p>le {{article.date}}</p>
                </div>
                <div class="item item-body">
                    <div ng-bind-html="article.content"></div>
                    <a ui-sref="delete({articleId: article.id})" class="button button-positive button-block">delete</a>
                    <a ui-sref="edit" class="button button-positive button-block">edit</a>
                    <button ui-sref="delete({articleId: article.id})" class="button button-positive button-block">delete</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
