<ion-view hide-nav-bar="false" view-title="Cadulink">
    <ion-content padding="true">
        <!-- sidebar -->

        <!-- Actualité -->
        <div ng-app="starter.controllers" ng-controller="ArticlesCtrl" class="list card">
            <div ng-repeat="article in articles">
                <div class="item item-body">
                    <h1>{{article.title}}</h1>
                </div>
                <div class="item item-avatar">
                    <img src="img/sebatien.jpg">
                    <a ui-sref="profil({personId: article.authorId})">par {{getAuthor(article)}}</a>
                    <p>le {{article.date}}</p>
                </div>
                <div class="item item-body">
                    <div ng-bind-html="article.content"></div>
                    <button ui-sref="delete({articleId: article.id})" class="button button-positive button-block">delete</button>

                </div>
            </div>
            <hr>

    </ion-content>
</ion-view>
