<ion-view >
<ion-content>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <div class="spacerVic"></div>
  <div class="list">
    <a class="item item-avatar "  href="#" >
      <img src="img/portrait.jpeg">
      <p style ="word-wrap:break-word;" class ="ion-android-camera">
        Cliquez ici pour modifier votre photo.
      </p>
    </a>
  <label class="item item-input item-stacked-label ">
    <span class="blue" class="input-label">Prénom</span>
    <input type="text" value="Dominique ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="blue" class="input-label" >Nom</span>
    <input type="text" value="Marchand">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="blue" class="input-label">Email</span>
    <input type="email" value="JPMarchand@gmail.com ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="blue" class="input-label">Téléphone</span>
    <input type="tel" value="06 06 06 60 06">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="blue" value="Octobre 25 2014" class="input-label">Date de naissance</span>
    <input type="date">
  </label>
  <label class="item item-input item-stacked-label ">
    <span class="blue" class="input-label">Mon Parcours</span>
    <input type="text" >Le cursus de médecine débute avec la PACES (1re année commune aux études de santé). Moins de 20 % des étudiants en
    moyenne franchissent l’obstacle du concours.
     En 2013-2014, 7 492 places étaient ouvertes au niveau national.</input>
  </label>
</div>
<button class="button button-positive col-offset-25">
  Valider votre Profil.
</button>

</ion-content>
</ion-view>
