<ion-view hide-nav-bar="false" view-title="Profil">
    <ion-content>
        <div ng-app="starter.controllers" ng-controller="PersonCtrl">
            <div class="card">
                <div class="item item-text-wrap item-avatar item-button-right">
                    <img src="img/SVelluz.jpg">
                    {{person.firstName + ' ' + person.lastName}}
                    <button ng-if="person.id == userId" class="button button-positive" ng-controller="EditProfilCtrl" ng-click="OpenModal()"><i class="ion-edit"></i></button>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider center-text blue">
                    Profession
                </div>
                <div class="item item-text-wrap center-text">
                    {{person.profession}} à {{person.practiceLocation}}
                </div>
            </div>
            <div class="card">
                <div class="item item-divider center-text blue">
                    <a ui-sref="CommunityDm">Communautés </a>
                </div>
                <ul class="item item-text-wrap center-text">
                    <li ng-repeat="community in communities"><a ui-sref="app.community({communityId: community.id})">{{community.label}}</a></li>
                </ul>
            </div>
            <div class="card">
                <div class="item item-divider center-text blue" >
                    Mon parcours
                </div>
                    <div class="item item-text-wrap center-text">
                        Le cursus de médecine débute avec la PACES (1re année commune aux études de santé). Moins de 20 % des étudiants en
                        moyenne franchissent l’obstacle du concours.
                        En 2013-2014, 7 492 places étaient ouvertes au niveau national.
                    </div>
            </div>
        </div>
    </ion-content>
</ion-view>
