/* Empty. Add your own CSS if you like */
.spacer{
  height: 60px;
}
.scroll-content{
  background-image: url("../img/home-bckg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: url("../img/bandeau-haut.jpg");*/
}

a{
  text-decoration: none;
}

.bar-positive .button {
	border-color: #0c60ee;
}

#jour,
#mois,
#annee {
	margin-right: 15px;
}

form.register div.date,
form.register label {
	padding-left: 10px;
	padding-right: 10px;
}